@charset "utf-8";
footer {
    position: relative;
    font-size: 0.8rem;
    line-height: 1.2;
}

#fixed_footer {
    width: 100%;
    background-color: #fff;
    height: 48px;
    position: fixed;
    bottom: 0;
}

#fixed_footer div.footer_btn_area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 0.4rem;
    padding: 0.4rem;
    position: relative;
}

#fixed_footer div.footer_btn_area > div {
    background: #ddd;
    overflow: auto;
    min-width: 0;
    padding: 0;
    text-align: center;
}

img.posts_img {
    width: 100%;
}